*{
    padding:0;
    margin:0;
    font-family: 'muli' ,sans-serif;
}

a{
    text-decoration:none;
    margin:10px;
    padding-top:6px;
    color:rgb(104, 96, 96);
}

.nav_bar{
    box-shadow: 1px 1px 10px 1px gray ;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 10;
}

.nav_item{
    margin-left:100px;
}

.menu_active{
    font-weight: bold;
    /* border-bottom:1px solid rgb(73, 69, 69); */
    color:rgb(73, 69, 69);
}

.dan{
    color:rgb(104, 96, 96);
    text-decoration: none;
    font-size: 15px;
    
}

.bottom_border{
    width: 25px;
    height: 3px;
    background: linear-gradient(to right,#032b68,rgb(133, 133, 189),rgb(133, 133, 189));
}

.dan:hover{
    color:rgb(104, 96, 96);
}
@media screen and (max-width:500px)
{
    a{
        margin: 0;
        padding-top:0;
        align-items: left;
    }

    .nav_item{
        margin-left:0px;
    }
}